<!doctype html>
<html lang="en">
    {% include "components/site_header.html" %}
    <body>
        {% include "components/navbar.html" %}
        <div class="read-list col-7 offset-1">
            <h1>Top Readers</h1>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Total Pages</th>
                        <th>Total Books</th>
                    </tr>

                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.user.username }}</td>
                            <td>{{ entry.page_count }}</td>
                            <td>{{ entry.book_count }}</td>
                        </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </body>
</html>